
<%- include('common/header', {'title': '登录页'} ) %>

<form action="/dologin" method="post">

    <label>用户名</label>
    <input name="userName" type="text" value="" placeholder="用户名">
    <label>密码</label>
    <input name="password" type="password" value="" placeholder="密码">

    <button type="submit">登录</button>
</form>

<%- include('common/footer') %>
