
<%- include('common/header', {'title': '注册页'} ) %>

<form action="/doreg" method="post">

    <label>用户名</label>
    <input name="userName" type="text" value="" placeholder="用户名">
    <label>邮箱</label>
    <input name="email" type="text" value="" placeholder="邮箱">
    <label>昵称</label>
    <input name="nick" type="text" value="" placeholder="昵称">
    <label>密码</label>
    <input name="password" type="password" value="" placeholder="密码">
    <label>确认密码</label>
    <input name="confirmPassword" type="password" value="" placeholder="密码">
    <label>详细信息</label>
    <textarea name="remark"></textarea>

    <button type="submit">注册</button>
</form>

<%- include('common/footer') %>