</div>

<script>

    $(document).ready(function () {
        $('.btn-logout').on('click', function () {
            $.get('/logout', function () {
                location.href = '/login';
            });
        });
    });

</script>

</body>
</html>